<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Mongoose Flights</title>
    <link href="https://fonts.googleapis.com/css?family=Alata|Poppins&display=swap" rel="stylesheet">
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
      <nav>
        <a class= "headernav" href = '/flights'>All Flights</a>
        <a class= "headernav" href = '/flights/new'>Add Flights</a>
      </nav>