* {
  box-sizing: border-box;
}

body {
  padding: 50px;
  font-family: 'Poppins', sans-serif;
  text-align: center;
  margin: 0;
  background-color: lightcyan;
}

body > nav {
  grid-area: nav;
  background-color: rgb(21, 119, 143);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 0 20px 0 30px;
}

.headernav {
  color: white;
}

.button {
  background-color: rgb(21, 119, 143);
  color: white;
  border-width: 3px;
  border-color: black;
  padding: 10px 10px;
  font-weight: bold;
}

.button:hover {
background-color: white;
color: rgb(21, 119, 143);
border-color: pink;
cursor: pointer;
}

.newflinput {
  font-family: 'Poppins', sans-serif;
  margin-left: 30px;
  font-size: 1rem;
}

#flightdeets {
  border: 2px solid black;
  width: 50vw;
  margin: 0 auto;
}

.deletebtn {
background-color: rgb(21, 119, 143);
color: white;
/* border-radius: 30%; */
}

.deletebtn:hover {
  cursor: pointer;
}

.nfinput {
  display: block;
}

.dropmenu {
	font-size: 16px;
	font-family: 'Poppins', sans-serif;
	font-weight: 700;
	color: #444;
	line-height: 1.3;
	padding: .6em 1.4em .5em .8em;
	width: 15%;
	max-width: 100%;
	box-sizing: border-box;
	margin: 0;
	border: 1px solid #aaa;
	box-shadow: 0 1px 0 1px rgba(0,0,0,.04);
  border-radius: .5em;
  margin-left: 2rem;
}

div {
  display: grid;
}

#flightlist, th, td {
  text-align: center;
  border: 2px solid black;
  margin: 0 auto;
  padding: 8px;
  background: white;
}

th {
  background-color: pink;
}

#flinfo{
  border: 1px solid black;
  width: 20vw;
  margin: 0 auto;
  padding-top: 20px;
  background: white;
}

.flightinfo {
  font-size: 1rem;
  background-color: pink;
  width: 17vw;
  margin: 0 auto;
  border: 2px solid black;
}

.newflight {
  color: rgb(21, 119, 143);
  padding: 20px;
  font-weight: bold;
}

h1 {
  margin: 50px 0px 50px 0px;
  text-decoration: underline;
}

h4 {
  text-decoration: underline;
}
.nodestination {
  font-size: 1rem;
  padding: 20px;
  font-style: italic;
}
nav > a {
  margin: 20px;
  text-decoration: none;
  padding: 10px;
  border-radius: 5px;
  font-weight: bold;
}

nav > a:hover {
  color: white;
  background-color: #020f11;
}

nav > a.active {
  color: white;
}

#tickettable > thead > th {
  min-width: 100;
}