<%- include('../partials/header') %>
    <h1>Enter a New Flight</h1>
<form class= "newflight" action="/flights" method="POST">
  <label class="nfinput">Airport:   
      <select name="airport" class="dropmenu">
            <option value= "">-select airport-</option>
            <option value="AUS">AUS</option>
            <option value="DAL">DAL</option>
            <option value="LAX">LAX</option>
            <option value="SAN">SAN</option>
            <option value="SEA">SEA</option>
      </select>
      </label><br>
  <label class="nfinput">Airline:   
	<select name="airline" class="dropmenu">
        <option value= "">-select airline-</option>
        <option value="American">American</option>
        <option value="Southwest">Southwest</option>
        <option value="United">United</option>
	</select>
	</label><br>
	<label class="nfinput">Flight No:
	  <input type="number" name="flightNo" class="newflinput">
	</label><br>
	<label class="nfinput">Departs:
    <input type="datetime-local" name="departs" class="newflinput">
  </label><br>
  <br>
	<input class="button" type="submit" value="Add Flight">
</form>
</body>
</html>