<%- include('../partials/header') %>
    <h2>Enter a New Flight</h2>
<form action="/flights" method="POST">
  <label class= "newflight">Airport:
      <select name="airport">
            <option value= "">-select airport-</option>
            <option value="AUS">AUS</option>
            <option value="DAL">DAL</option>
            <option value="LAX">LAX</option>
            <option value="SAN">SAN</option>
            <option value="SEA">SEA</option>
      </select>
      </label><br>
  <label class= "newflight">Airline:
	<select name="airline">
        <option value= "">-select airline-</option>
        <option value="American">American</option>
        <option value="Southwest">Southwest</option>
        <option value="United">United</option>
	</select>
	</label><br>
	<label class= "newflight">Flight No:
	  <input type="number" name="flightNo">
	</label><br>
	<label class= "newflight">Departs:
    <input type="date" name="departs">
    <input type="time" name="departs">
  </label><br>
  <br>
	<input class="button" type="submit" value="Add Flight">
</form>
</body>
</html>